# MongoDB Atlas Connection
MONGODB_USERNAME="adarshdeepsachan_db_user"
MONGODB_PASSWORD="a9vyyhKxJJHptfH1"
MONGODB_URI="mongodb+srv://adarshdeepsachan_db_user:a9vyyhKxJJHptfH1@cpcbusiness.a2mezra.mongodb.net/cpcbusiness?appName=CPCBusiness"

# ImageKit Configuration
IMAGEKIT_PUBLIC_KEY="public_5z+lOJYXBs7KgjxXI/ikiRBuaiA="
IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/smcdngw8m"
IMAGEKIT_FOLDER="cpcbusiness"
IMAGEKIT_ID="smcdngw8m"
IMAGEKIT_PRIVATE_KEY=""

# Client side (Vite) Environment Variables
VITE_IMAGEKIT_PUBLIC_KEY="public_5z+lOJYXBs7KgjxXI/ikiRBuaiA="
VITE_IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/smcdngw8m"
VITE_IMAGEKIT_FOLDER="cpcbusiness"
